<!DOCTYPE html>
<html>

<head>
    <%-include('base/header.ejs') %>

        <title>Users</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<body>
    <%-include('base/navbarTop.ejs')-%>
        <div class="container w-75 border py-5">
            <h2 class="text-center form-text text-muted">
                <a href="/users/user_add/" class="btn btn-success">ADD user</a></h2>
            <br>

            <table>
                <th>번호</th>
                <th>이름</th>
                <th>나이</th>
                <th>에마일</th>
                <th>정보를 수정하기</th>
                <th>삭제하기</th>
                <% var j = 1; %>
                    <% for( var i in users ) { %>
                        <tr>
                            <td>
                                <%= j %>
                            </td>
                            <td>
                                <a href="/users/user_info/<%= users[i].user_id%>">
                                    <%= users[i].user_name %>
                                </a>
                            </td>
                            <td>
                                <%= users[i].user_age %>
                            </td>
                            <td>
                                <%= users[i].user_email %>
                            </td>
                            <td><a href="/users/users_admin/<%= users[i].user_id%>" class="btn btn-success">수정하기</a></td>
                            <td><a href="/users/<%= users[i].user_id%>" class="btn btn-danger">삭제하기</a></td>
                        </tr>
                        <% j++; } %>
            </table>
        </div>

        <%-include('base/footer.ejs')%>
</body>

</html>