<!DOCTYPE html>
<html>

<head>
    <%-include('base/header.ejs') %>
    <style>
        table {
            border:solid black 1px;
            border-radius:6px;
            font-size: small;
        }
        
        td, th {
            text-align: left
        }
        
        th {
            text-align: center
        }
        
        td:first-child, th:first-child {
            border-left: none;
        }
    </style>
    <title>markets</title>
</head>

<body>
    <%-include('base/navbarTop.ejs')-%>

    <div class="container">
        <h1>보유 주식</h1>
        <p><strong><%= userId%></strong><p>
        <hr>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <table class="table table-striped table-hover table-bordered align-middle shadow">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>종목명</th>
                            <th>현재가</th>
                            <th>보유수량</th>
                            <th>총 금액 (만)</th>
                            <th>수익률</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <% for(var i = 0; i < holdings.length; i++) { 
                            var cP = holdings[i].NOW;
                            var rate = (((cP * holdings[i].shares) / holdings[i].price) - 1).toFixed(2); %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><a href="/markets/<%=holdings[i].stock_code%>"><%= holdings[i].STK_NAME %></a></td>
                                <td><%= cP %></td>
                                <td><%= holdings[i].shares %></td>
                                <td><%= holdings[i].price / 10000 %></td>
                                <td><%= rate %> %</td> 
                            </tr> <%
                        } %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <%-include('base/footer.ejs')%>
    
</body>

</html>