<!DOCTYPE html>
<html>

<head>
    <%-include('base/header.ejs') %>
    <style>
        table {
            border:solid black 1px;
            border-radius:6px;
            font-size: small;
        }
        
        td, th {
            text-align: left
        }
        
        th {
            text-align: center
        }
        
        td:first-child, th:first-child {
            border-left: none;
        }
    </style>
    <title>markets</title>
</head>

<body>
    <%-include('base/navbarTop.ejs')-%>

    <div class="container">
        <h1>보유 주식</h1>
        <p><%= userId%><p>
        <hr>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <table class="table table-striped table-hover table-bordered align-middle shadow">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>종목명</th>
                            <th>현재가</th>
                            <th>보유수량</th>
                            <th>총 금액</th>
                            <th>수익률</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <% for( var i in stocks ) { %>
                            <tr>
                                <td><a href="/markets/<%= stocks[i].code %>"><%= stocks[i].name %></a></td>
                                <td><%= stocks[i].now_val %></td>
                                <% if(stocks[i].s){ %>
                                    <td>+<%= stocks[i].chg %></td>
                                <% } else { %>
                                    <td>-<%= stocks[i].chg %></td>
                                <% } %>
                                <td><%= stocks[i].chgp %></td>
                                <td><%= stocks[i].vol %></td>
                                <td><%= stocks[i].trading_val %></td>
                                <td><%= stocks[i].total_val %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <%-include('base/footer.ejs')%>
    
</body>

</html>