<!DOCTYPE html>
<html lang="en">

<head>
    <title>12Stocks</title>
    <%-include('base/header.ejs') %>
    <style>
        .fakeimg {
            height: 200px;
            background: #aaa;
        }

        /* this for scrolling view of auto completion */
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            width: 200px;
        } 
    </style>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <!-- Top navbar -->
    <%-include('base/navbarTop.ejs')-%>

        <!-- Main image -->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="/images/home.jpg" alt="..." />
                </div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">12Stocks</h1>
                    <p>국내 주식 트레이딩 사이트 - 12Stocks</p>
                    <a class="btn btn-primary" href="#!">바로가기!</a>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <!-- <a class="navbar-brand" href="#!">검색바?</a> -->
                <div class="col-1"></div>
                <div class="col-3 align-self-end">
                    <form class="d-flex">
                        <input class="form-control me-2" id="searchInput" type="search" placeholder="Search" aria-label="Search" required>
                        <button type="reset" btn btn-outline-success" id="search" onclick="searchClicked()">Search</button>
                    </form>
                </div>
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button> -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent" style="color: rgb(151, 67, 67)">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/users">회원조회</a></li>
                        <li class="nav-item"><a class="nav-link" href="/markets">시장</a></li>
                        <li class="nav-item"><a class="nav-link" href="">공지사항</a></li>
                        <li class="nav-item"><a style="border: none" class="nav-link" id="portfolios" role="button">포트폴리오</a></li>
                        <% if(isAuthenticated){ %>
                            <li class="nav-item"><a class="nav-link" href="/users/user_form/<%= userId %>">나의 회원 정보 수정</a></li>
                            <% } %>
                    </ul>
                </div>
                <div class="col-1"></div>
            </div>
        </nav>

        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body">
                    <p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p>
                </div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">최근 조회 종목</h2>
                            <hr>
                            <% for( var i in recentItems ) { %>
                                <a class="card-text" href="/markets/<%= recentItems[i].stock_code %>">
                                    <%= recentItems[i].stock_name %>
                                </a><br>
                                <% } %>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">실시간 인기 종목</h2>
                            <hr>
                            <p class="card-text">Empty</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">오늘의 인기 게시글</h2>
                            <hr>
                            <% for( var i in TrendingPosts ) { %>
                                <a class="card-text" href="/forums/<%= TrendingPosts[i].board_id %>/post/<%= TrendingPosts[i].post_id %>">
                                    <%= TrendingPosts[i].post_title %>
                                </a><br>
                                <% } %>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">More Info</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->

        <%-include('base/loginRequiredModal.ejs')%>
        <%-include('base/footer.ejs')%>
</body>
<script>
    var btn = document.getElementById("portfolios");

    btn.onclick = function () {
        if('<%= isAuthenticated %>' == 'false') {
            modal.style.display = "block";
        } else {
            window.location.href = '/portfolios';
        }
    }

    function searchClicked() {
        var searchInput = $('#searchInput').val();
        $.ajax({
            url: '/order/search/' + searchInput,
            type: 'POST',
            success: function (result) {
                if (result) {
                    if (result.result == undefined) {
                        alert("검색 결과 없음");
                    } else {
                        location.href = "/markets/" + result.result;
                    }
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Fail " + textStatus + " - " + errorThrown);
            },
        })
    }

    $(document).ready(function () {
        $('#searchInput').autocomplete({
            source: function (req, res) {
                $.ajax({
                    url: '/order/search/auto_complete',
                    dataType: 'json',
                    type: 'GET',
                    success: function (result) {
                        res(
                            $.map(result, function (item) {
                                var inputLength = $('#searchInput').val().length;
                                if ($('#searchInput').val().substring(0, inputLength) == item.label.substring(0, inputLength))
                                    return item;
                            })
                        );
                    }
                })
            },
            delay: 0,
            minLength: 1,
        });

        
    });

</script>
</html>