<!DOCTYPE html>
<html>

<head>
    <%-include('base/header.ejs') %>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/tab.css">
    <title>order</title>
</head>

<body>
    <%-include('base/navbarTop.ejs')-%>

    <h1>주식 주문</h1><br>

    <div>
        <input type="text" placeholder="종목 코드/이름 입력..." value="<%= itemInfo.code %>">
        <button type="submit">검색</button>
    </div><br>

    <h3><%= itemInfo.name %></h3>
    <p><%= itemInfo.now %></p>

    <!-- 매수/매도 창 -->
    <div class="tab">
        <button class="tab1links" onclick="openTab(event, 1, 'buy')" id="tab1-default">매수</button>
        <button class="tab1links" onclick="openTab(event, 1, 'sell')">매도</button>
        <button class="tab1links" onclick="openTab(event, 1, 'correct')">정정/취소</button>
    </div>
    <div id="buy" class="tab1content">
        <form name="buyForm" id="buyForm">
            <div style="width:200px;">
                <select>
                    <option selected>보통가(지정가)</option>
                    <option>시장가</option>
                </select>
            </div><br>
            <label>수량</label>
            <input type="number" min="0" step="1" value="0" name="bq" id="bq"/><br>
            <label>가격</label>
            <input type="number" min="0" step="10" value="0" name="bp" id="bp"/><br><br>
            <p>주문 금액 : <span id="buyOrderAmount"></span></p>
            <input type="button" value="매수" id = "buyOrder"/>
        </form>
    </div>

    <div id="sell" class="tab1content">
        <form name="sellForm" id="sellForm">
            <div style="width:200px;">
                <select>
                    <option selected>보통가(지정가)</option>
                    <option>시장가</option>
                </select>
            </div><br>
            <label>수량</label>
            <input type="number" min="0" step="1" value="0" name="sq" id="sq"/><br>
            <label>가격</label>
            <input type="number" min="0" step="10" value="0" name="sp" id="sp"/><br><br>
            <p>주문 금액 : <span id="sellOrderAmount"></span></p>
            <input type="button" value="매도" id = "sellOrder"/>
        </form>
    </div>

    <div id="correct" class="tab1content">
        <p>미체결 내역에서 선택</p>
        <div style="width:200px;">
            <select>
                <option selected>보통가(지정가)</option>
                <option>시장가</option>
            </select>
        </div><br>
        <label>수량</label>
        <input type="number" min="0" step="1" value="0" id="uq" /><br>
        <label>가격</label>
        <input type="number" min="0" step="10" value="0" id="up" /><br><br>
        <p>주문 금액 : <span id="updateAmount"></span></p>
        <input type="button" value ="정정" onclick="alert('정정')">
        <input type="button" value= "취소" onclick="alert('취소')">
    </div><br>
    
    <!-- 실시간 주문 창 예시 -->
    <div>
        <table>
            <tr>
                <th>체결 시간</th>
                <th>단가</th>
                <th>수량</th>
            </tr>
            <tr>
                <td>00:00:00</td>
                <td>3,000</td>
                <td>50</td>
            </tr>
            <tr>
                <td>00:00:10</td>
                <td>4,000</td>
                <td>70</td>
            </tr>
        </table>
    </div><br>

    <!-- 호가 창 예시 -->
    <div>
        <table>
            <tr>
                <th>매도량</th>
                <th>단가</th>
                <th>매수량</th>
            </tr>
            <% var rnd = Math.round(Math.random()) %>
            <% for( var i = 0; i < 20; i++ ) { %>
            <tr>
                <td></td>
                <% var bidprice = parseInt(itemInfo.now.replace(/,/g, '')) + parseInt(tickSize) * (i - 10 + rnd) %>
                <td><%= bidprice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","); %></td>
                <td></td>
            </tr>
            <% } %>
        </table>
    </div><br>
    
    <!-- 주식 체결/미체결 -->
    <div class="tab">
        <button class="tab2links" onclick="openTab(event, 2, 'conclusion')" id="tab2-default">주식 체결</button>
        <button class="tab2links" onclick="openTab(event, 2, 'nonTrading')">주식 미체결</button>
    </div>
    <div id="conclusion" class="tab2content">
        <p>체결 내역</p>
    </div>

    <div id="nonTrading" class="tab2content">
        <div id="nonTradingContent">
            <P>미체결 주문</P>
        </div>
    </div><br>

    <%-include('base/footer.ejs')%>
</body>

<script>
    $('#bq, #bp').bind('keyup input', function () {
        $('#buyOrderAmount').text($('#bq').val() * $('#bp').val());
    });
    
    $('#sq, #sp').bind('keyup input', function () {
        $('#sellOrderAmount').text($('#sq').val() * $('#sp').val());
    });

    $('#uq, #up').bind('keyup input', function () {
        $('#updateAmount').text($('#uq').val() * $('#up').val());
    });

    function validateBuyForm() {
        if ($('#bq').val() * $('#bp').val() <= 0) {
            alert("수량과 가격을 정확히 입력하여 주세요.");
            return false;
        } else {
            return true;
        }
    }

    function validateSellForm() {
        if ($('#sq').val() * $('#sp').val() <= 0) {
            alert("수량과 가격을 정확히 입력하여 주세요.");
            return false;
        } else {
            return true;
        }
    }

    $(document).ready(function () {
        $('#buyOrder').click(function () {
            if(validateBuyForm()) {
                var buyForm = $("#buyForm").serialize();
                $.ajax({
                    url: '/order/<%= itemInfo.code %>/buy_process',
                    dataType: 'json',
                    type: 'POST',
                    data: buyForm,
                    success: function (result) {
                        if (result) {
                            alert(result.result);
                        }
                    }
                });
            }
        });

        $('#sellOrder').click(function () {
            if (validateSellForm()) {
                var sellForm = $("#sellForm").serialize();
                $.ajax({
                    url: '/order/<%= itemInfo.code %>/sell_process',
                    dataType: 'json',
                    type: 'POST',
                    data: sellForm,
                    success: function (result) {
                        if (result) {
                            alert(result.result);
                        }
                    }
                });
            }
        });
    });

    function reloadDivArea() {
        alert('nonTradingContent reloaded!');
        $('#nonTradingContent').load(location.href + ' #nonTradingContent');
    }

    function openTab(evt, id, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tab" + id + "content");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab" + id + "links");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    document.getElementById("tab1-default").click();
    document.getElementById("tab2-default").click();
</script>

</html>

