<!DOCTYPE html>
<html>

<head>
    <%-include('base/header.ejs') %>
    <style>
        table.type1{clear:both;width:100%;margin-top:15px;font-size:12px}
        table.type1 td{padding:0 0 8px 8px;vertical-align:top}
        .tlline2{height:19px;padding:0 0 0 9px;border-bottom:2px solid #e1e1e1;font-size:12px;text-align:left}
        table.type02{clear:both;width:100%;border-bottom:1px solid #e1e1e1;font-family:dotum;font-size:12px}
        table.type02 th{padding:8px 0 5px 0;background:#fafafa;color:#777;font-weight:normal;border-bottom:1px solid #e5e5e5}
        table.type02 td{margin:0;padding:0;font-size:11px}
        table.type02 td.num{padding:5px 10px 5px 0;text-align:right}
        table.type02 td.bg01{background:#EBF2FC}
        table.type02 td.bg02{background:#FCEBEB}
        table.type03 td {border: 1px solid black;}
        table.type03 th {border: 1px solid black;}

        /* this for scrolling view of auto completion */
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            width: 200px;
        } 
    </style>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/tab.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>order</title>
</head>

<body>
    <%-include('base/navbarTop.ejs')-%>

    <h1>주식 주문</h1><br>

    <div>
        <form name="searchForm" id="searchForm">
            <input type="text" id="item" placeholder="종목 코드/이름 입력..." value="<%= itemInfo.code %>">
            <button type="button" id="itemSearch">검색</button>
        </form>
        <span id="error_msg" style="color:red;"></span>
    </div><br>

    <div>
        <h3 id="itemName"><%= itemInfo.name %></h3>
        <p id="currentPrice"><%= itemInfo.now %></p>
    </div>

    <!-- 매수/매도 창 -->
    <div class="tab">
        <button class="tab1links" onclick="openTab(event, 1, 'buy')" id="tab1-default">매수</button>
        <button class="tab1links" onclick="openTab(event, 1, 'sell')">매도</button>
        <button class="tab1links" onclick="openTab(event, 1, 'correct')">정정/취소</button>
    </div>
    <div id="buy" class="tab1content">
        <form name="buyForm" id="buyForm">
            <div style="width:200px;">
                <select>
                    <option selected>보통가(지정가)</option>
                    <option>시장가</option>
                </select>
            </div><br>
            <label>수량</label>
            <input type="number" min="0" step="1" value="0" name="bq" id="bq"/><br>
            <label>가격</label>
            <input type="number" min="0" step="<%= tickSize %>" value="0" name="bp" id="bp" /><br><br>
            <p>주문 금액 : <span id="buyOrderAmount"></span></p>
            <input type="button" value="매수" id = "buyOrder"/>
        </form>
    </div>

    <div id="sell" class="tab1content">
        <form name="sellForm" id="sellForm">
            <div style="width:200px;">
                <select>
                    <option selected>보통가(지정가)</option>
                    <option>시장가</option>
                </select>
            </div><br>
            <label>수량</label>
            <input type="number" min="0" step="1" value="0" name="sq" id="sq"/><br>
            <label>가격</label>
            <input type="number" min="0" step="<%= tickSize %>" value="0" name="sp" id="sp" /><br><br>
            <p>주문 금액 : <span id="sellOrderAmount"></span></p>
            <input type="button" value="매도" id = "sellOrder"/>
        </form>
    </div>

    <div id="correct" class="tab1content">
        <p>미체결 내역에서 선택</p>
        <div style="width:200px;">
            <select>
                <option selected>보통가(지정가)</option>
                <option>시장가</option>
            </select>
        </div><br>
        <label>수량</label>
        <input type="number" min="0" step="1" value="0" id="uq" /><br>
        <label>가격</label>
        <input type="number" min="0" step="<%= tickSize %>" value="0" id="up" /><br><br>
        <p>주문 금액 : <span id="updateAmount"></span></p>
        <input type="button" value ="정정" onclick="alert('정정')">
        <input type="button" value= "취소" onclick="alert('취소')">
    </div><br>
    
    <!-- 실시간 주문 창 예시 -->
    <div>
        <table class="type01">
            <tr>
                <th>체결 시간</th>
                <th>단가</th>
                <th>수량</th>
            </tr>
            <tr>
                <td>00:00:00</td>
                <td>3,000</td>
                <td>50</td>
            </tr>
            <tr>
                <td>00:00:10</td>
                <td>4,000</td>
                <td>70</td>
            </tr>
        </table>
    </div><br>

    <!-- 호가 창 예시 -->
    <div style="display: block; width: 300px;">
        <h4 class="tlline2">
            <strong style="float:left">호가</strong>
            <span style="float:right; padding-right: 10px;">
                
            </span>
        </h4>
        
        <table class="type02">
            <tr>
                <th>매도잔량</th>
                <th>매도호가</th>
                <th></th>
                <th>매수호가</th>
                <th>매수잔량</th>
            </tr>
            <tr>
                <td colspan="2" height="6" class="bg01"></td>
                <td width="1"></td>
                <td></td>
                <td></td>
            </tr>
            <% var rnd = Math.round(Math.random()) %>
            <% for( var i = 10; i >= 0; i-- ) { %>
                <tr>
                <% var bidprice = parseInt(itemInfo.now.replace(/,/g, '')) + parseInt(tickSize) * (i - 10 + rnd) %>
                <% if( i > 5) { %>
                    <td class="num bg01">240</td>
                    <td class="num bg01"><%= bidprice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","); %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                <%  } else if(i == 5) { %>
                    <td colspan="2" height="4" class="bg01"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                <%  } else { %>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="num bg02"><%= bidprice.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ","); %></td>
                    <td class="num bg02">360</td>
                <%  } %>
            </tr>
            <% } %>
        </table>
    </div><br>
    
    <!-- 주식 체결/미체결 -->
    <div class="tab">
        <button class="tab2links" onclick="openTab(event, 2, 'conclusion')" id="tab2-default">주식 체결</button>
        <button class="tab2links" onclick="openTab(event, 2, 'openOrders')">주식 미체결</button>
    </div>
    <div id="conclusion" class="tab2content">
        <p>체결된 내 주문 목록</p>
    </div>

    <div id="openOrders" class="tab2content">
        <div>
            <table class="type03" id="openOrderList">
                <thead>
                    <tr>
                        <th>구분</th>
                        <th>종목명/종목 코드</th>
                        <th>주문 수량/잔량</th>
                        <th>주문 단가</th>
                        <th>주문 유형</th>
                    </tr>
                </thead>
                <tbody id="openOrderListBody">
                    <% for( var i = 0; i < openOrderList.length; i++ ) { %>
                        <% var buysell = openOrderList[i].buysell ? "매도" : "매수"; %>
                    <tr>
                        <td><%= buysell %></td>
                        <td><%= openOrderList[i].stock_code %></td>
                        <td><%= openOrderList[i].quantity %></td>
                        <td><%= openOrderList[i].price %></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div><br>

    <%-include('base/footer.ejs')%>
</body>

<script>
    $('#bq, #bp').bind('keyup input', function () {
        $('#buyOrderAmount').text($('#bq').val() * $('#bp').val());
    });
    
    $('#sq, #sp').bind('keyup input', function () {
        $('#sellOrderAmount').text($('#sq').val() * $('#sp').val());
    });

    $('#uq, #up').bind('keyup input', function () {
        $('#updateAmount').text($('#uq').val() * $('#up').val());
    });

    function validateBuyForm() {
        if ($('#bq').val() * $('#bp').val() <= 0) {
            alert("수량과 가격을 정확히 입력하여 주세요.");
            return false;
        } else {
            return true;
        }
    }

    function validateSellForm() {
        if ($('#sq').val() * $('#sp').val() <= 0) {
            alert("수량과 가격을 정확히 입력하여 주세요.");
            return false;
        } else {
            return true;
        }
    }

     function reloadOpenOrderList(openOrderList) {
        // TODO OPTIMIZE : 추가된 주문이나 취소 및 결제된 주문을 찾아서 해당 row만 추가/삭제하는 방식
        $('#openOrderListBody').empty();

        for (var i = 0; i < openOrderList.length; i++) {
            var tableTd = '<tr>';
            var buysell = openOrderList[i].buysell ? "매도" : "매수";
            tableTd += '<td>' + buysell + '</td>';
            tableTd += '<td>' + openOrderList[i].stock_code + '</td>';
            tableTd += '<td>' + openOrderList[i].quantity + '</td>';
            tableTd += '<td>' + openOrderList[i].price + '</td>';
            tableTd += '</tr>';
            $('#openOrderList').append(tableTd);
        }
    }

    $(document).ready(function () {
        $('#item').autocomplete({
            source: function(req, res) {
                $.ajax({
                    url: '/order/search/auto_complete',
                    dataType: 'json',
                    type: 'GET',
                    success: function(result) {
                        res(
                            $.map(result, function (item) {
                                var inputLength = $('#item').val().length;
                                if($('#item').val().substring(0, inputLength) == item.label.substring(0, inputLength))
                                    return item;
                            })
                        );
                    }
                })
            },
            delay: 0,
            minLength: 1,
        });

        $('#itemSearch').click(function () {
            var searchInput = $('#item').val();
            $.ajax({
                url: '/order/search/' + searchInput,
                dataType: 'json',
                type: 'POST',
                data: { search_input : searchInput },
                success: function (result) {
                    if (result) {
                        if(result.result == undefined) {
                            $('#error_msg').text("결과 없음");
                        } else {
                            window.location.href = "/order/" + result.result;
                        }
                    }
                }
            })
        });

        $('#buyOrder').click(function () {
            if(validateBuyForm()) {
                var buyForm = $("#buyForm").serialize();
                $.ajax({
                    url: '/order/<%= itemInfo.code %>/buy_process',
                    dataType: 'json',
                    type: 'POST',
                    data: buyForm,
                    success: function (result) {
                        if (result) {
                            alert(result.msg);
                        }
                    }
                }).then((arg) => {
                    return $.ajax({
                        url: '/order/<%= itemInfo.code %>/open_orderlist',
                        dataType: 'json',
                        type: 'GET',
                        data: buyForm,
                        success: function (result) {
                            if (result) {
                                alert(result.msg);
                                reloadOpenOrderList(result.openOrderList);
                            }
                        }
                    });
                });
            }
        });

        $('#sellOrder').click(function () {
            if (validateSellForm()) {
                var sellForm = $("#sellForm").serialize();
                $.ajax({
                    url: '/order/<%= itemInfo.code %>/sell_process',
                    dataType: 'json',
                    type: 'POST',
                    data: sellForm,
                    success: function (result) {
                        if (result) {
                            alert(result.msg);
                        }
                    }
                }).done((arg) => {
                    $.ajax({
                        url: '/order/<%= itemInfo.code %>/open_orderlist',
                        dataType: 'json',
                        type: 'GET',
                        data: sellForm,
                        success: function (result) {
                            if (result) {
                                alert(result.msg);
                                reloadOpenOrderList(result.openOrderList);
                            }
                        }
                    });
                });
            }
        });
    });

    function openTab(evt, id, tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tab" + id + "content");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tab" + id + "links");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    document.getElementById("tab1-default").click();
    document.getElementById("tab2-default").click();
</script>

</html>

