<!DOCTYPE html>
<html>
    <head>
        <%-include('base/header.ejs') %>

        <title>portfolios</title>
    </head>
    <body>
        <%-include('base/navbarTop.ejs')-%>

        <h1>내 관심 목록</h1>
        <% for( var i in watchlist ) { %>
        <label><%= watchlist[i].stock_code %></label>
        <button onclick="location.href='/portfolios/<%= watchlist[i].stock_code %>/delete_from_watchlist'" >관심목록에서 제거</button><br>
        <% } %>

        <%-include('base/footer.ejs')%>
    </body>
</html>