<!DOCTYPE html>
<html>

<head>
    <%-include('base/header.ejs') %>

    <style>
      table {
        font-size: small;
      }
        .chart {
            display:block; 
        }
        .btn.btn-primary:disabled{
            background-color: #a6a9a685;
        }
    </style>

    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
          }  
    </script>

    <title>stockItem</title>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <%-include('base/navbarTop.ejs')-%>

    <% let tRow = [
      ["현재가", item.now],
      ["전일 종가", item.closed],
      ["전일 대비", item.chg],
      ["등락률", item.chgp],
      ["시가", item.open],
      ["고가", item.high],
      ["저가", item.low],
      ["거래량", item.vol],
      ["거래대금", item.val],
    ]; %> 

    <div class="container col-8 py-3">
      <div class="row justify-content-center p-3">
          <!-- 종목 소개 -->
          <div class="col-10 align-self-start p-3">
            <div class="card mb-4 border border-4">
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <h1 class="text-center"><%= item.name %></h1>
                  <footer class="blockquote-footer">종목코드: <%= item.code %></footer>
                </blockquote>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <!-- 네비게이션 바 -->
            <div class="container-sm p-2">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#">시세</a>
                </li>
                <li class="nav-item">
                  <button type='button' class="nav-link" href="#" id="Order">주문</button>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/forums/<%= item.code %>/1">게시판</a>
                </li>
              </ul>
            </div>

            <div class="row justify-content-center align-items-center gx-3">
                <div class="row justify-content-end">
                    <div class="col-2 px-0">
                        <button class="btn btn-primary border-0 text-nowrap" type='button' id="AddToWL" onclick="AddToWatchList()" <%= disabled %> style="font-size: 12px;">
                                관심목록에 추가
                        </button>
                    </div>
                </div>

                <div class="col-lg-9 col-md-12">
                    <iframe src="/markets/showBasicCandle/<%= item.code %>" style="width: 100%;" frameborder="0" scrolling="no" onload="resizeIframe(this)">
                        <p>현재 사용 중인 브라우저는 iframe 요소를 지원하지 않습니다!</p>
                    </iframe>
                </div>
              <div class="col-3">
                <div class="table-responsive">
                  <table class="table border">
                    <tbody>
                      <% for( let i in tRow ) { %>
                        <tr class="">
                          <td class="table-secondary" scope="row"><%= tRow[i][0] %></td>
                          <td><%= tRow[i][1] %></td>
                        </tr>
                      <% } %> 
                    </tbody>
                  </table>
                </div>
                
              </div>
            </div>
            <!-- 시간별 시세, 일별 시세 보여주는 탭  -->
                      
          </div>
      </div>
    </div>
  
    <%-include('base/loginRequiredModal.ejs')%>
    <%-include('base/footer.ejs')%>
</body>

<script>
    function AddToWatchList() {
        $.ajax({
            url: '/markets/<%= item.code %>/add_to_watchlist',
            dataType: 'json',
            type: 'GET',
            success: function (result) {
                if (result.result) {
                    $('#AddToWL').attr("disabled", true);
                }
                else {
                    modal.style.display = "block";
                }
            }
        })
    }

    var orderBtn = document.getElementById("Order");
    orderBtn.onclick = function () {
        if ('<%= isAuthenticated %>' == 'false') {
            modal.style.display = "block";
        } else {
            window.location.href = '/order/<%= item.code %>';
        }
    }
    
</script>
</html>