<!DOCTYPE html>
<html>

<head>
  <!-- 헤더 -->
  <%-include('../base/header.ejs') %> 
  <style>
    .subTitle {
      font-size: 25px;
    }
  </style>
  <title>markets</title>
</head>

<body>
  <!-- 네비게이션바 -->
  <%-include('../base/navbarTop.ejs')-%>

  <!-- 메인 컨테이너 -->
  <div class="container mb-3">

    <!-- 작업 트리 -->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb p-1 pl-2 pr-2">
        <li class="breadcrumb-item"><a href="/">홈</a></li>
        <li class="breadcrumb-item"><a href="/forums">게시판</a></li>
        <li class="breadcrumb-item active" aria-current="page">글 수정</li>
      </ol>
    </nav>

    <div class="row justify-content-center mb-5">
      <div class="col-8 m-3">
        <!-- 작성 내용 -->
        <form method="post">
          <div class="d-grid gap-2 d-md-flex justify-content-md-end"> 
            <!-- 글 삭제 확인 알림창 띄우기? -->
            <button type="submit" formaction="/forums/<%= code %>/post/<%= postId %>/delete_process" class="btn btn-danger shadow">글 삭제</button>
          </div> 
          <div class="card align-self-center m-5 p-3 shadow">
            <div class="mb-3">
              <label for="title" class="form-label subTitle">제목</label>
              <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp" value="<%= title %>" required>
            </div>
            <div class="mb-3">
              <label for="content" class="form-label subTitle">내용</label>
              <textarea class="form-control" id="content" name="content" style="height: 300px;" required><%= content %></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="submit" formaction="/forums/<%= code %>/post/<%= postId %>/edit_process" class="btn btn-primary shadow">제출</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- 하단바 -->
  <%-include('../base/footer.ejs')%>
</body>

</html>