<!DOCTYPE html>
<html>

<head>
  <%-include('../base/header.ejs') %>
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <title>forums</title>
</head>

<body>
  <%-include('../base/navbarTop.ejs')-%>
  <div class="container col-8 py-3">
    <!-- 메인 컨테이너 -->
    <div class="row justify-content-center p-3">
      <!-- 종목 소개 -->
      <div class="col-10 align-self-start p-3">
        <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p><%= title %></p>
              <footer class="blockquote-footer">종목코드: <%= code %></footer>
            </blockquote>
          </div>
        </div>
      </div>
      <!-- 게시판 -->
      <div class="col-md-12">
        <!-- 네비게이션 바 -->
        <div class="container-sm p-2">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="#">시세</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">차트</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">게시판</a>
            </li>
          </ul>
        </div>
        <!-- 메인 테이블 -->
        <table class="table table-hover table-bordered" 
        style="font-size: 12px;">
          <thead class="table-dark">
            <tr>
              <th class="col-1 text-center" scope="col">#</th>
              <th class="col-7 text-center" scope="col">제목</th>
              <th class="col-3 text-center" scope="col">날짜</th>
              <th class="col-1 text-center" scope="col">조회수</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <% for(let i = 0; i < pagePostNum; i++){ %> 
            <tr>
              <th scope="row"><%= postList[i].post_id %></th>
              <td><a href="/forums/<%= code %>/post/<%= postList[i].post_id %>"><%= postList[i].post_title %></a></td>
              <td><%=postList[i].reg_date %></td>
              <td><%=postList[i].hit %></td>
            </tr>
            <% } %> 
          </tbody>
        </table>
        <div class="row pb-3 justify-content-end">
          <!-- 페이지 번호 네비게이션 -->
          <!-- 페이지 개수에 따른 네비게이션 구현 필요 -->
          <div class="col-8">
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center align-items-center h-100 mb-0">
                
                <li class="page-item" id = "pfjump">
                  <a class="page-link" href="/forums/<%= code %>/1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <!-- <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li> -->
                <% for(let i = pageStartIndex; i <= pageLastIndex; i++) { %> 
                  <li class="page-item" id="pi<%= i %>"><a class="page-link" href="/forums/<%= code %>/<%= i %>"><%= i %></a></li>
                <% } %>
                <li class="page-item" id = "pljump">
                  <a class="page-link" href="/forums/<%= code %>/<%= maxPageNum %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-2">
            <!-- 사용자 로그인 확인 필요 -->
            <a id="writePost" class="btn btn-primary" role="button">글쓰기</a>                  
          </div>
        </div>
      </div>
    </div>
  </div>

  <%-include('../base/loginRequiredModal.ejs')%>

  <%-include('../base/footer.ejs')%>
</body>

<script>

  $(document).ready(function () {
    $("#pi<%= currentPage %>").attr('class', 'page-item active');
    $("#pi<%= currentPage %>").attr('aria-current', 'page');

    if ($("#pi1").attr('class') == 'page-item active') {
      $("#pfjump").attr('class', 'page-item disabled');
    } else {
      $("#pfjump").attr('class', 'page-item');
    }

    if ($("#pi<%= maxPageNum %>").attr('class') == 'page-item active') {
      $("#pljump").attr('class', 'page-item disabled');
    } else {
      $("#pljump").attr('class', 'page-item');
    }
  });

  var writeBtn = document.getElementById("writePost");
  writeBtn.onclick = function () {
    if ('<%= isAuthenticated %>' == 'false') {
      modal.style.display = "block";
    } else {
      window.location.href = "/forums/<%= code %>/create";
    }
  }

</script>

</html>