<!DOCTYPE html>
<html>

<head>
  <%-include('../base/header.ejs') %>
  <title>markets</title>
</head>

<body>
  <%-include('../base/navbarTop.ejs')-%>
  <div class="container mb-3">

  <!-- 작업 트리 -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb p-1 pl-2 pr-2">
      <li class="breadcrumb-item"><a href="/">홈</a></li>
      <li class="breadcrumb-item"><a href="/forums/<%= code %>/1">게시판</a></li>
      <li class="breadcrumb-item active" aria-current="page">게시글</li>
    </ol>
  </nav>

  <!-- 메인 컨테이너 -->
  <div class="row justify-content-center mb-5">

    <!-- 게시글 -->
  <div class="card col-8 my-5 p-0">
  <div class="card-header pt-3"> <!-- 헤더 -->
    <label for="title" class="subTitle">제목</label>
    <h4 class="p-1 fw-bolder" id="title"><%= title %></h4>
  </div>

  <div class="card-body"> <!-- 바디 -->
    <p class="card-text m-1" id="content">
      <%- content.replace(/\n/g, '<br/>') %>
    </p>
  </div>

  <hr class="p-0 m-0">
  <div class="row">
    <div class="col d-grid gap-2 m-3 d-md-flex justify-content-md-start"> 
      <form method="get">
        <input type="hidden" name="user_id" id="user_id" value="<%=''%>">
        <button type="submit" <%= disableUpdate %> formaction="/forums/<%= code %>/post/<%= postId %>/edit" class="btn btn-secondary shadow">글 수정</button>
      </form>
    </div>
    <div class="col-md-5 col-lg-4 col-xl-3">
      <div class="post-info card m-2 p-2"> 
        <div>작성자: <span><%= authorId %></span></div>
        <hr class="p-0 m-1">
        <div>작성날짜: <span><%= regDate %></span></div>
      </div>
    </div>
  </div>
  </div>

  <!-- 댓글 -->
  <div class="col-8 my-5 p-0">
    <div class="h4">댓글<hr class="p-0 mt-2"></div>
    <% for(let i = 0; i < comments.length; i++) { %>
      <div class="row">
        <div class="col-2"><%= comments[i].author_id %></div>
        <div class="col-10">
          <%= comments[i].comment_content %>
          <form method="post" action="/forums/<%= code %>/post/<%= postId %>/delete_comment">
            <input type="hidden" name="comment_id" id="comment_id" value="<%= comments[i].comment_id %>">
            <button type="submit" style ="float: right">삭제</button>
          </form>
          <br><br><span style="font-size: 9px;">(작성날짜: <%- comments[i].reg_date %>)</span>
        </div>
      </div>
      <hr class="p-0 mt-2">
    <% } %>
    <div class="row">
      <div class="col-2"><%= userId %></div>
      <div class="col-10">
        <form method="post" action="/forums/<%= code %>/post/<%= postId %>/create_comment">
          <input type="hidden" name="user_id" id="user_id" value="<%=''%>">
          <textarea class="form-control" id="content" name="content" required></textarea>
          <div class="d-grid d-md-flex justify-content-md-end my-2">
            <button type="submit" id="writeComment" class="btn btn-secondary shadow">댓글 쓰기</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  </div>
  </div>

  <%-include('../base/loginRequiredModal.ejs')%>
  <%-include('../base/footer.ejs')%>

</body>

<script>
  var btn = document.getElementById("writeComment");
    btn.onclick = function () {
      if ('<%= isAuthenticated %>' == 'false') {
        modal.style.display = "block";
      } 
    }
</script>
</html>